* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

* body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-repeat: no-repeat;
  background-size: cover;
  color: #777;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 2rem;
  transition: transform 0.2s; }
  .logo:hover {
    transform: scale(1.1);
    cursor: pointer; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input:focus + .search__button {
      background-color: #f0eeee; }
    .search__input::placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: #999; }
    .search__icon:hover {
      cursor: pointer; }

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: #f4f2f2;
    cursor: pointer; }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777; }
  .user-nav__notification {
    color: #fff;
    position: absolute;
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    background-color: #eb2f64;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    top: 1.5rem;
    right: 1.1rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 2rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #eb2f64;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: #ff3366; }
  .side-nav__link:link, .side-nav__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: #ccc;
  text-align: center;
  padding: 2.5rem; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1;
  height: 80rem; }
