* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

* body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-repeat: no-repeat;
  background-size: cover;
  color: #777;
  min-height: 100vh; }

.logo {
  height: 3.25rem; }

.search {
  background-color: orangered; }
  .search__icon {
    height: 2rem;
    width: 2rem; }

.user-nav {
  background-color: greenyellow; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
  display: flex;
  justify-content: space-between; }

.content {
  display: flex; }

.sidebar {
  background-color: #333;
  flex: 0 0 18%; }

.hotel-view {
  flex: 1;
  background-color: orangered; }
