.btn-inline {
    border: none;
    color: $--color-primary;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        color: $--color-grey-dark-1;
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

//Infinite Animation for button
@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba($--color-black, 0.25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}