.btn {
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $--color-primary-light, $--color-primary-dark);
    color: $--color-white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &>* {
        //Common rules for all children
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all 0.2s;
    }
    &__visible {
        padding: 2rem 7.5rem;
    }
    &__invisible {
        position: absolute;
        left: 0;
        top: -100%;
        padding: 2rem 0;
    }
    &:hover {
        background-image: linear-gradient(to left, $--color-primary-light, $--color-primary-dark);
    }
    &:hover &__visible {
        transform: translateY(100%);
    }
    &:hover &__invisible {
        top: 0;
    }
    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}