.detail {
    font-size: 1.4rem; //description and user-reviews both will inherit font size
    display: flex;
    padding: 4.5rem;
    background-color: $--color-grey-light-1;
    border-bottom: $--line;
}

.description {
    flex: 0 0 60%;
    background-color: $--color-white;
    margin-right: 4.5rem;
    padding: 3rem;
    box-shadow: $--shadow-light;
}

.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}